/* Enter your custom styles here */
/*pagina inicial  ancho de botones*/
.pagianaInicialButton {
    width: 150px; /* Ajusta este valor al ancho deseado */
}
/* Asegura que el contenedor ocupe toda la altura de la pantalla */
.flexContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Evita las barras de desplazamiento */
}
.fullHeight {
    height: 100%;
    width: 100%;
}

.header {
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    color: white;
}

.instruction {
    padding: 10px;
    background-color: yellow;
    color: black;
    text-align: center;
}

.inputSection {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio */
    padding: 10px;
    align-items: center; /* Centra verticalmente los elementos */
    width: 100%; /* Asegura que el HBox ocupe todo el ancho disponible */
    box-sizing: border-box;
}

.inputSectionLogin{    
    padding: 10px;
    align-items: center; /* Centra verticalmente los elementos */
}

.label {
    margin-right: 5px; /* Ajusta este valor para acercar el label al input */
}

.inputEan {
    margin-right: 20px; /* Ajusta este valor para la separación entre el input de EAN y el button */
}

.button {
    margin-right: 10px; /* Ajusta este valor para acercar el button al input de COD. INTERNO */
    margin-left: 50px;
}

.inputCodigoInterno {
    margin-left: 30px; /* Ajusta este valor para separar el input del botón */
    border: 1px;
}

.inputDescripcion {
    flex-grow: 1; /* Hace que el input ocupe todo el espacio disponible */
    margin-left: 10px; /* Añade un margen izquierdo para separar del input anterior */
    width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
    font-size: 3vh;
}

.eanSection,
.codeSection {
    flex-grow: 1;
    margin: 20px;
}

.spSection {
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: yellow;
}

.spBox {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spTextBlue,
.spTextBlack {
    font-size: 40vh; /* Ajusta este tamaño según sea necesario */
    width: 100%;
    text-align: center;
}

.arrowSection {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.arrowText {
    font-size: 20vh; /* Ajusta este tamaño según sea necesario */
}

.blackBackground {
    background-color: black;
    color: white;
    text-align: center; /* Para centrar el texto */
    font-size: 1.2rem; /* Tamaño de la fuente */
}
.noScroll {
    overflow-y: hidden;
}

/*  datos tabla Cando se pulsa STOP*/
.customVBox {
    max-height: 70vh; /* 70% de la altura de la ventana */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
}
.headerCell{
    border: 0px solid #000; /* Bordes de las celdas */
    padding: 4px; /* Espaciado interno de las celdas */
    text-align: center; /* Alinear texto al centro */
    font-size: 2rem;
}

.sapMListTblRow, .sapMListTblRowAlternating {
   /* background-color: #FFFFE0;  Color de fondo para las filas alternas */
    border: 0px solid #000; /* Bordes para las filas */
}

.tituloSecundario{
    font-size: 1.6rem;
    justify-content: center;
}
.sameHeight {
    height: 50px; /* Ajusta según sea necesario */
    display: flex;
    align-items: center;
}
.sapMListTblRow:nth-child(odd) {
    background-color: #f9f9f9; /* Color para filas impares */
}

.sapMListTblRow:nth-child(even) {
    background-color: #ffffff; /* Color para filas pares */
}
.boldAndLargeText {
    font-weight: bold !important;
    font-size: 15px !important; /* Ajusta según sea necesario */
    height: 30px !important;
}

/* Custom CSS file (styles.css) */
.sapUiContentPadding {
    padding: 2rem;
}

.sapUiResponsiveMargin {
    margin: 1rem 0;
}

.sapUiSmallMargin {
    margin: 0.5rem 0;
}

.inputSection {
    display: flex;
    align-items: center;
}

.inputLabel {
    width: 12em;
    text-align: end;
    margin-right: 1rem;
}

.inputField {
    width: 100%;
}

.actionButton {
    width: 100%;
    margin-top: 0.5rem;
}

/*  customStyles.css */
.customMessageBox .sapMMessageBox {
    width: 500px; /* Ajusta el ancho del cuadro de mensaje */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}

.customMessageBox .sapMText {
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
    color: red; /* Cambia el color del texto a rojo */
}
/***  Inicio  estilos Desafectacion***
/* Rotacion a 45 grados de texto */
.customColumnHeader .sapMLabel {
    height: 50px;
    transform: rotate(-40deg); /* Ajusta el ángulo de rotación según tus necesidades */
    white-space: nowrap; /* Evita que el texto se envuelva en una nueva línea */
  
    
    margin-bottom: 1px; /* Ajusta el margen superior si es necesario */
  text-align: center;
}



.customTable {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.customTable .sapMListTblCell {
    white-space: nowrap;
}

.customColumnHeader2 {
    line-height: 2.5rem;
    margin-top: 0.5rem
    
}


.sapUiTableCell {
    border-bottom: 1px solid #d3d3d3;
}

.sapUiTableCell:first-child {
    border-left: 1px solid #d3d3d3;
}

.sapUiTableCell:last-child {
    border-right: 1px solid #d3d3d3;
}

/***  fin  estilos Desafectacion***


/*** Stylo para descripcion  en tabla de avance scan2 */
.text-smaller {
    
    font-size: 3 rem !important; /* Ajusta el tamaño según tus necesidades */
}
.text-smaller2 {
    font-weight: normal !important;
    font-size: 3 rem !important; /* Ajusta el tamaño según tus necesidades */
}
/* Ajusta el tamaño del contenedor principal para ocupar todo el espacio disponible */
.mainContainer {
    height: 100%;
    width: 100%;
}

/* Sección de encabezado, el cual se mantiene fijo en la parte izquierda */
.headerSection {
    height: 100%;
}

/* Asegura que la parte izquierda (75% del ancho) no se desplace */
.leftPane {
    flex: 3;
    overflow: hidden;
    height: 100%;
}

/* Asegura que la parte derecha (25% del ancho) tenga la capacidad de desplazarse */
.rightPane {
    flex: 1;
    height: 100%;
}

/* Ajusta el contenedor de la tabla para ocupar todo el alto disponible y permitir el desplazamiento */
.tableContainer {
    height: 100%;
    overflow-y: auto; /* Permite el desplazamiento vertical */
}
/* Ajusta el tamaño del contenedor principal para ocupar todo el espacio disponible */
.mainContainer {
    height: 100%;
    width: 100%;
}

/* Sección de encabezado, el cual se mantiene fijo en la parte izquierda */
.headerSection {
    height: 100%;
}

/* Asegura que la parte izquierda (75% del ancho) no se desplace */
.leftPane {
    flex: 3;
    overflow: hidden;
    height: 100%;
}

/* Asegura que la parte derecha (25% del ancho) tenga la capacidad de desplazarse */
.rightPane {
    flex: 1;
    height: 100%;
}

/* Ajusta el contenedor de la tabla para limitar el alto máximo y evitar el overflow */
.tableContainer {
    max-height: 900px; /* Ajusta este valor según el tamaño de la celda y el texto */
    overflow-y: auto; /* Permite el desplazamiento vertical solo si es necesario */
}

/* Ajusta el tamaño del texto en las celdas */
.boldAndLargeText {
    font-size: 12px; /* Ajusta este tamaño según sea necesario */
}

/* Ajusta el alto de las celdas */
.sapUiTableCell {
    height: 20px; /* Ajusta este valor según sea necesario */
}
/*** clase para el reloj  */
.centeredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.stateContainer {
    margin-top: 20px;
    text-align: center;
}

.timerContainer {
    margin-top: 10px;
    text-align: center;
}

.label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.timer {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.running {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.paused {
    color: orange;
    font-weight: bold;
    font-size: 20px;
}

.stopped {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

/* Define el ancho deseado para los botones "Avance" */
.avanceButton {
   
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
/* Ajusta el ancho del HBox y su distribución */
.sapUiHBox {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Asegura que los botones se distribuyan bien */
}



.greenBackground {
    background-color: green !important;
    color: green !important; /* Texto con el mismo color que el fondo */
}

.redBackground {
    background-color: red !important;
   
}
.yellowBackground {
    background-color: yellow !important;
    color: yellow !important; /* Texto con el mismo color que el fondo */
}
.orangeBackground {
    background-color: rgb(255, 165, 0) !important; /* Naranja */
    color: black !important; /* Texto en negro para mayor contraste */
}
.fixedWidthText {
    width: 3ch; /* Ancho fijo de 3 caracteres */
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    font-family: monospace; /* Fuente monoespaciada para uniformidad */
    font-weight: bold; /* Texto en negrita */
}
.fixedWidthText2 {
    width: 8ch; /* Ancho fijo de 3 caracteres */
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    font-family: monospace; /* Fuente monoespaciada para uniformidad */
    font-weight: bold; /* Texto en negrita */
}
.buttonSpacing {
    margin-right: 2rem; /* Ajusta el valor según lo que necesites */
}
.columnGray {
    background-color: #f0f0f0; /* Gris claro */
}
.dialogColumns .sapMVBox:first-child {
  margin-right: 4rem; /* Separación mayor entre columnas */
}
